# Global
.*.swp
.DS_Store
# Application
web/build
web/uploads
web/app/vendor
web/app/tmp
web/public/tmp
data/db/mysql
# react
web/node_modules
# PHPStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
make.log
.vscode
