/* VARIABLES */

$light-grey: #979797;
$black: #4A4A4A;

@import 'purecss.0.6.0';
/* Adriane Lux Regular Font*/
@font-face {
  font-family: 'Adriane Lux';
  src: url("AdrianeLux-RgWeb.eot");
}
@font-face {
  font-family: 'Adriane Lux';
  src: url("AdrianeLux-RgWeb.woff") format("woff");
}

@-webkit-keyframes backgroundgradientfade {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@-moz-keyframes backgroundgradientfade {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@-o-keyframes backgroundgradientfade {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@keyframes backgroundgradientfade { 
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}

body{
	background:white;
	font-family: "jaf-bernino-sans",sans-serif;
	font-size:16px;
}

/* --- LAYOUT --- */

.white-background{
	background:white;
	padding:1em;
}
.content-wrapper {
	/* triggers hardware acceleration */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	background: linear-gradient(317deg, #dffaff, #f5ffe1, #fee3e3, #cdecc4);
	background-size: 800% 800%;
	-webkit-animation: backgroundgradientfade 24s ease infinite;
	-moz-animation: backgroundgradientfade 24s ease infinite;
	-o-animation: backgroundgradientfade 24s ease infinite;
	animation: backgroundgradientfade 24s ease infinite;
	min-height: 70vh;
}

.content{
		padding:0 0 .5em;
}


.header{
	background:white;
	padding:1em;
	overflow:hidden;
}
.footer{
	text-align:center;
	padding:2em;
	line-height: 2;
	font-size:80%;
	color: $light-grey;
	a{
		color: $light-grey;
	}
}




/* UI DETAILS */
.hand{display:inline-block;margin:2em;}
#global-menu li{
	text-transform: lowercase;
	font-size:80%;
}
#suggest-quote{
	width:200px;
	a{
		position:relative;
		padding-right:2.5em;
		background-size: contain;
		height:20px;
		width: 20px;
		display: inline-block;
		background: transparent;
		-webkit-transition: all .6s ease;
		transition: all 0.6s ease;
		text-align: right;
		img{
			border-radius:25px;
			overflow:hidden;
			-webkit-transition: all .6s ease;
			transition: all 0.6s ease;
		}

		b{
			position:absolute;
			right:3em;
			top:50%;
			padding:5px 10px;
			color: $black;
			font-weight: normal;
			-webkit-transition: all .6s ease;
			transition: all 0.6s ease;
			opacity:0;
		}
		&:hover{
			img{
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				-webkit-transition: all .6s ease;
				transition: all 0.6s ease;
			}
			b{
				opacity:1;
				right:5em;
				-webkit-transition: all .6s ease;
				transition: all 0.6s ease;
			}
		}

	}
}

.message{
	font-weight:bold;
	background:white;
	font-size:140%;
	padding:2em;
}
.all-authors ol{
	display:flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

	list-style: none;
	li{
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 300px;

		height:50px;
		display:block;
		margin:0 1em;
		padding:0;
		transition: all 350ms cubic-bezier(.7, .5, .3, 1);
	 	-webkit-column-break-inside:avoid;
	 	-moz-column-break-inside:avoid;
	 	-o-column-break-inside:avoid;
	 	-ms-column-break-inside:avoid;
	 	column-break-inside:avoid;
	 	-webkit-backface-visibility:hidden;
	}
	li a{
		vertical-align:top;
		padding:0;
		margin:0;
		padding-left:30px;
		background:transparent url('../img/male-sign.svg') top left no-repeat;
	}
	li.f a{
		background-image:url('../img/female-sign.svg');
	}
	li.unknown a{
		background-image:url('../img/unknown-sign.svg');
	}
	a{
	 	color:$light-grey; 
	 	text-decoration: none;
	 	position:relative;
	 	-webkit-column-break-inside:avoid;
	 	-moz-column-break-inside:avoid;
	 	-o-column-break-inside:avoid;
	 	-ms-column-break-inside:avoid;
	 	column-break-inside:avoid;
	 	-webkit-backface-visibility:hidden;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding:0;
		margin:0;
		height:40px;
		display:block;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: all 600ms cubic-bezier(.3, .7, .1, 1);
		-webkit-transform-origin: 50% 0;
		-webkit-perspective: 350px;
		transform-style: preserve-3d;
		transition: all 600ms cubic-bezier(.3, .7, .1, 1);
		transform-origin: 50% 0;
		perspective: 350px;
		transition:  all 600ms cubic-bezier(.3, .7, .1, 1);

		.author-name{
			padding:0;
			margin:0;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			display:block;
			overflow:hidden;
			height: 20px;
			background:white;
		}
	 	.author-total{
			padding:3px 5px;
			margin:0;
			font-size:80%;
			text-decoration: none;
			display:block;
			height:25px;
			background:$light-grey;
			color:$light-grey;
			-webkit-transform: rotateX(-90deg);
	        -webkit-transform-origin: 50% 0;
	        -webkit-backface-visibility: visible;
			-webkit-transition: all 600ms cubic-bezier(.3, .7, .1, 1);
			transform: rotateX(-90deg);
	        transform-origin: 50% 0;
	        backface-visibility: visible;
			transition: all 600ms cubic-bezier(.3, .7, .1, 1);
		}
		&:hover{
			transition: all 350ms cubic-bezier(.7, .5, .3, 1);
			color:$black;
			.author-total{
				background:white;
				color:$light-grey;
				-webkit-transform: rotateX(0deg);
				-webkit-transition: all 600ms cubic-bezier(.3, .7, .1, 1);
				transform: rotateX(0deg);
				transition: all 600ms cubic-bezier(.3, .7, .1, 1);
			}
		}
	}
	li:hover ~ li, li:active ~ li, li:focus ~ li{
/*
		-webkit-transform: translateY(10px);
		-transform: translateY(10px);
*/
	}
}


#logo{
	margin:0;
	padding:0;
	text-decoration: none;
	text-transform: none;
}

.ui-title{
	
	font-size: 12px;
	color: $light-grey;
	line-height: 25px;
	text-transform: uppercase;
	font-weight:lighter;
	margin-bottom:2em;
	display:block;
	a{
		color: $light-grey;
	}
}
.topline:before{
	width: 50%;
	max-width:30px;
	margin-right: 50%;
	border-top: 1px solid rgba(0,0,0,0.15);
	display: block;
	content: "";
	margin-bottom: 5px;
}

#another-quote-button{
	display:inline-block;
	margin:2em auto;
	background:$black;
	color:white;
	border-radius:10px;
	padding:1em 2em;
	border: 0px solid $black;
	-webkit-transition: all .6s ease;
	transition: all 0.6s ease;
	text-decoration: none;
	&:hover{
		background:white;
		color:$black;
	}
}

/* ---  A QUOTE CARD --- */
.quote{padding:2em 0;margin:1em 0;}
#photo{
	margin:auto;
	border-radius:50%;
	width:200px;
	height:200px;
	background-color:white;
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	background-image: url('../img/man.svg');
}
#photo.woman{
	background-image: url('../img/woman.svg');
}

blockquote{
	padding:0;
	font-family: 'Adriane Lux', serif;
	font-size:32px;
	line-height: 1.4;
}
figcaption{
	padding-top:1em;
	text-align: center;
	a{
		color:$black;
	}

	.author{
		font-size:120%;
	}
}
.center{
text-align:center;}
.image-provided-by-google{
	padding:10px 0;
	padding-top:0px;
	font-size:80%;
}
.quote-meta {
	a:hover{
		color:$black;
	}
}

.social{
	background:transparent;
	display:inline-block;
	text-align: center;
	border-radius:3px;
	padding:0px 3px;
	width:20px;
	img{
		vertical-align: middle;
	}
	&:hover{
		background:white;
	}
}


/* RESPONSIVE MENU */
/*
.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: left;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
*/

/* FORM ELEMENTS */
form{padding:2em;}
/*
textarea, input[type="text"],input[type="url"]{
	max-width:800px;
	width:100%;
}
textarea{
	min-height:200px;

}
*/

@media (min-width: 48em) {


	blockquote{
		font-size:64px;
		line-height: 1.4;
	}

}

	